/simulation/__pycache__
/simulation/__pycache__/
/simulation/Buggy/__pycache__
/simulation/Buggy/Power/__pycache__
/simulation/Buggy/Sensors/__pycache__
/simulation/Buggy/Wheel/__pycache__
/simulation/Track/__pycache__